<div class="form-inline">
  <%= form_for ([topic, bookmark]) do |f| %>
    <div class="form-group">
      <%= f.label :url %>

      <%= f.url_field :url, autofocus: true, class: "form-control" %>
    </div>
  <%= f.submit "Create/Edit your bookmark!", class: "btn btn-success" %>
  <% end %>
</div>
