
  <% if bookmark.votes.find_by(user: current_user).nil? %>
    <div class="btn btn-info">
    <%= link_to "Like-bookmark", topic_bookmark_votes_path(topic, bookmark), method: :post, class: "glyphicon glyphicon-star" %>
    </div>
  <% else %>
    <div class="btn btn-warning">
    <%= link_to "Unlike-bookmark", topic_bookmark_vote_path(topic, bookmark, bookmark.votes.find_by(user: current_user)), method: :delete, class: "glyphicon glyphicon-star-empty" %>
    </div>
  <% end %>
</div>